<!-- Include head.ejs -->
<% include .././partials/standard/head %>

<body>
    <!-- Header Navbar Start -->
        <!-- Include header.ejs -->
        <% include .././partials/standard/header %>
    <!-- Header Navbar End -->

    <!-- Content Area Start -->

    <div id="mainArticleContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Events
                            
                            <a href="http://localhost:3100/events/">Alle</a>
                            <% type_data.forEach((category) => { %>
                                <a href="http://localhost:3100/events/<%= category.type_name %>"><%= category.type_name %></a>
                            <% }); %>
                            
                        </div>

                        <div class="card-block">
                            <% event_data.forEach(function(element){ %>
                                <div id="event_<%= element.event_id%>" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-fluid" alt="<%= element.event_name %>" src="/static/style/img/event_images/<%= element.type_name %>/<%= element.event_imagePath %>">
                                        </div>
                                        <div class="col-md-4">
                                            <h2><%= element.type_name%></h2>
                                            <h4><%= element.event_name%></h4>
                                            <p><%= element.event_text %></p>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="events/<%= element.event_id %>">Se mere    </a>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>

                        <div class="card-footer footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <!-- Content Area End -->

    <!-- Footer Start-->
        <!-- Include footer.ejs -->
        <% include .././partials/standard/footer %>
    <!-- Footer End-->
</body>

<!--include script.ejs-->
<% include .././partials/standard/scripts %>
</html>

